{% extends 'flatpages/default.html' %}

{% load custom_tags %}
{% load custom_filter %}
{% load replace_filter %}

{% block title %}
Post
{% endblock title %}

{% block content %}

   {% if post %}
       <table>
           <tr>
               <td><h4>Заголовок</h4></td>
               <td><h4>Дата создания</h4></td>
               <td><h4>Текст</h4></td>

           </tr>


           <tr>
               <td>{{ post.title }}</td>
               <td>{{ post.time_in|date:'d M Y'}}</td>
               <td>{{ post.text}}</td>



           </tr>
       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{% endblock content %}