{% extends 'flatpages/default.html' %}

{% block content %}
<h2>Страница авторизованного пользователя {{request.user.username}}</h2>
<!--<div> Здесь может содержаться персональная информация для каждого пользователя </div>-->

    <form action="/accounts/logout/" method="post">
    {% csrf_token %}
        <input type="submit" value="Выйти">
    </form>


<h1>Создайте или измените пост</h1>
<hr>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
</form>

{% endblock content %}

